<form [formGroup]="formProduct" (ngSubmit)="onSubmit()" class="row g-3 needs-validation">
  <div class="row">
    <div class="col-6">

          <label for="validationCustom01" class="form-label">Title</label>
          <input type="text" class="form-control" id="validationCustom01" formControlName="title" placeholder="title"
          [ngClass]="
          (formProduct.get('title').touched || formProduct.get('title').dirty) && formProduct.get('title').invalid ? 'is-invalid' :
            ((formProduct.get('title').touched || formProduct.get('title').dirty) && !formProduct.get('title').invalid) ? 'is-valid' : ''">
          <div class="invalid-feedback">
            title required
          </div>
 

          <label for="validationCustom02" class="form-label">Description</label>
          <input type="text" class="form-control" id="validationCustom02" formControlName="description" placeholder="description"
          [ngClass]="
          (formProduct.get('description').touched || formProduct.get('description').dirty) && formProduct.get('description').invalid ? 'is-invalid' :
            ((formProduct.get('description').touched || formProduct.get('description').dirty) && !formProduct.get('description').invalid) ? 'is-valid' : ''">
          <div class="invalid-feedback">
            description required
          </div>


          <label for="validationCustom03" class="form-label">Category</label>
          <input type="text" class="form-control" id="validationCustom03" formControlName="category" placeholder="category"
          [ngClass]="
          (formProduct.get('category').touched || formProduct.get('category').dirty) && formProduct.get('category').invalid ? 'is-invalid' :
            ((formProduct.get('category').touched || formProduct.get('category').dirty) && !formProduct.get('category').invalid) ? 'is-valid' : ''">
          <div class="invalid-feedback">
            category required
          </div>
       
     
          <label for="validationCustom06" class="form-label">Category</label>
          <div class="input-group">
            <span class="input-group-text">$</span>
            <input type="text" class="form-control" id="validationCustom06" formControlName="price">
          </div>
       

          <div formGroupName="rating">
            <label for="validationCustom04" class="form-label">Rate</label>
            <input type="number" id="validationCustom04" class="form-control" formControlName="rate">
            <label for="validationCustom05" class="form-label">Count</label>
            <input type="number" id="validationCustom05" class="form-control" formControlName="count">      
          </div>

          <div class="modal-footer">
            <button class="btn btn-primary" type="submit" [disabled]="formProduct.invalid">Modificar</button>
            <button class="btn btn-secondary" type="button" (click)="cancelar()">Cancelar</button>
          </div>

    </div>
    <div class="col-4">
        <div>
          <img src="{{urlImagen}}">
        </div>
    </div>
  </div>


</form>